config CROSS_COMPILE
	string "Cross-compiler tool prefix"
	help
	  Same as running 'make CROSS_COMPILE=prefix-' but stored for
	  default make runs in this kernel build directory.  You don't
	  need to set this unless you want the configured kernel build
	  directory to select the cross-compiler automatically.
    default "i686-pc-chronos-" 


config ARCH
    string "The target architecture of the build"
    default "i386"

source "arch/i386/boot/Kconfig"
